
<header class="p-4 head d-flex">
  <div class="container-fluid">  
    <div class="row">
      
      <div class=" p-2 col-sm-4 col-md-3  ">
        
        <a href="/" >         
            <img src="assets/x.svg">
        </a>
      <a href="#" id="home-btn" class="">Home</a>
      </div>

      <div class="d-flex ml-auto col-sm-4 offset-sm-3   col-md-3 offset-md-6  justify-content-end">
        <a href="/hiring"><button  class="btn " id="membership" data="Membership" ></button></a>
        <a href="/home"><button id="login"type="button" class="btn me-2">Login</button></a>
      </div>
    </div>


  </div>
<!-- 
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  <header class="p-4 head d-flex">


    <div class="container-fluid collapse navbar-collapse" id="navbarToggler">  
      <div class="row">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <div class="  active p-2 col-sm-4 col-md-3  ">
          
              <a href="/"  >         
                  <img src="assets/x.svg">
              </a>
            <a href="#" id="home-btn" class="nav-item">Home</a>
            </div>
          </li>

          <li class="nav-item">
            <div class="d-flex ml-auto col-sm-4 offset-sm-3   col-md-3 offset-md-6  justify-content-end">
            <a href="/hiring"><button  class="btn  nav-item" id="membership" data="Membership" ></button></a>
            <a href="/home"><button id="login" type="button" class="btn me-2 nav-item">Login</button></a>
          </div>
        </li>
        </ul>    

        
      </div>

    </div>

    </header>
</nav>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <!-- <div class="collapse navbar-collapse" id="navbarTogglerDemo01"> -->



        <!-- <a class="navbar-brand" href="#">Hidden brand</a>
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
          </ul> -->
        
      <!-- </div> -->


  <!-- </div> -->

