body{
    margin: 0;
    padding: 0;
}
.head{
    background-color: black!important;
}
#allwrapper{
    height: 100vh;
}
#home-btn{
    color: white;
    text-decoration: none;
    padding: 20px;
}

#membership {
    border: none;
    outline: none;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    background: linear-gradient(156deg, rgba(4,224,138,1) 0%, rgba(5,206,242,1) 100%);
    cursor: pointer;
    margin: 0 10px 0 0 ;
  }
  #membership::before {
    content: "";
    position: absolute;
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px;
    border-radius: 4px;
    background-color: black;
    z-index: -1;
    transition: 200ms
  }
  #membership::after {
    content: attr(data);
    font-size: 16px;
    background: linear-gradient(156deg, rgba(4,224,138,1) 0%, rgba(5,206,242,1) 100%);
    -webkit-background-clip: text;
    color: transparent;
    transition: 200ms
  }
  #membership:hover::before {
    opacity: 50%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
  }
  #membership:hover::after{
    color: white;
  }


#login{
    color: black;
    background: linear-gradient(156deg, rgba(129,237,185,1) 33%, rgba(194,240,237,1) 74%, rgba(255,255,255,1) 100%);
    border: none;

}





body {
    padding-top: 50px;
    position: relative;
}

pre {
    tab-size: 8;
}

@media screen and (max-width: 768px) {
    .side-collapse-container{
        width:100%;
        position:relative;
        left:0;
        transition:left .4s;
    }
    .side-collapse-container.out{
        left:200px;
    }
    .side-collapse {
        top:50px;
        bottom:0;
        left:0;
        width:200px;
        position:fixed;
        overflow:hidden;
        transition:width .4s;
    }
    .side-collapse.in {
        width:0;
    }
}