

<app-navbar></app-navbar>
<!-- <app-hiring></app-hiring> -->



  <div id="body">
    <div id="dots" class="">      
    </div>


    <div class="container">
      <div class="row justify-content-center">
        <div id="wrapper" class="col-xs-10 offset-sm-1 col-sm-8 offset-sm-2   col-md-6  offset-md-3 ">

              <div id="biglogo">

                <div id="bigicon" >
                  <img src="assets/download.svg" alt="logo">   
                </div>
                <div id="bigtext" >
                  <img src="assets/text.svg" alt="text">
                </div>

         
          </div>
            
     
          <div class=" " id="socials">
            <div id="discord" class="btn d-block col-12 "><img id="discord-icon" class="glyphicon" src="assets/discord-icon.svg" >Continue with discord</div>
            <div id ="email"  class="btn d-block  col-12" >Continue with email</div>
          </div>
           

          </div>
        </div>

   
  </div>

    <div id="footer">
      © CryptoTraders 2023
    </div>
   

    




