<app-navbar></app-navbar>

<div class="container-fluid " id="allwrapper">
    <h2 id="we-hiring" class="offset-sm-2">We're Hiring</h2>

    <div class="row justify-content-center" id="wrap">
        <div id="left-bar" class="col-sm-3 offset-sm-1">
            <div class="position">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, illo?</div>
            <div class="position">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</div>
            <div class="position">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, laudantium reiciendis?</div>
        </div>

        <div id="main-thing" class="col-sm-5 d-flex">
          
                <div id="img-container"  >
                    <img src="assets/img3.svg" alt="asd" >
                </div>
                <div id="offer-details"   >
                    <h2>
                        Hiring a Film Editor and Creator for
                        Trading Content
                    </h2>
                    <span>
                        We're looking to increase our exposure on social media, by creating more
                        content (specificallyYoutube Videos + shorts and Reels on Instagram)
                    </span>
                    <ul>
                       <li>You will be provided with Living rent free with me
                        (Either in Los Angeles or New York,open to be discussed)</li> 

                    <li> Compensation is negotiable (DM to discuss)</li>
                    <li>Become a Partner</li>
                    </ul>
                    <h2>
                        Skills Needed (Most Important to Least Important)
                    </h2>
                   
                    <ul>
                        <li>Short Form Video Editing</li>
                        <li>Lighting and Content Creation Setting Management</li>
                        <li>Videography</li>
                        <li>Photography</li>
                        <li>Longform Video Editing</li>

                    </ul>

                    <div id="contact-us">
                
                        <div id="contact-left">
                            Contact us at <a>kevin@xtrades.net</a> and include
                            information about your previous works and
                            experience to set up an interview.
                        </div>
                        <div id="contact-right"> 
                            <a href="/home"><button id="contact"type="button" class="btn me-2">Contact us now</button></a>
                        </div>

                   
                    </div>
                
                </div>
                
        </div>
    </div>

</div>
